<!-- <fa-icon [icon]="['fas', 'sun']"></fa-icon> -->
<div class="weather">
    <wa-select-menu
      class="weather__city-selector"
      [items]="cityNames"
      (selectedItem)="getSelectedItem($event)">
    </wa-select-menu>
    <wa-tab-set
      class="weather__tab-set"
      [selectedCityData]="selectedCityData"
      [selectedCityForecast]="selectedCityForecast">
    </wa-tab-set>
</div>