.weather {
  width: 90vw;
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
  &__tab-set {
    display: flex;
  }
  &__city-selector {
    align-self: flex-end;
    width: 200px;
  }
}