$minFontSize: 16;
$maxFontSize: 20;
$minComponentSize: 400;
$maxComponentSize: 800;
.forecast {
  font-size: calc(#{$minFontSize + 'px'} + (#{$maxFontSize} - #{$minFontSize}) * (100vw - #{$minComponentSize + 'px'}) / (#{$maxComponentSize} - #{$minComponentSize}));
  &__empty {
    flex: 1;
    // font-size: 2rem;
    text-align: center;
    padding: 3rem;
  }
}