$minFontSize: 16;
$maxFontSize: 20;
$minComponentSize: 400;
$maxComponentSize: 800;
.current-weather {
  display: flex;
  width: 100%;
  font-size: calc(#{$minFontSize + 'px'} + (#{$maxFontSize} - #{$minFontSize}) * (100vw - #{$minComponentSize + 'px'}) / (#{$maxComponentSize} - #{$minComponentSize}));
  // font-size: calc(16px + (24 - 16) * (100vw - 320px) / (2000 - 320));
  &__empty {
    flex: 1;
    // font-size: 2rem;
    text-align: center;
    padding: 3rem;
  }
}
.current-weather-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex: 1;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    &--center {
      justify-content: center;
    }
  }
}