<div class="current-weather">
  <div *ngIf="!weatherData" class="current-weather__empty">Please select a city</div>
  <ul class="current-weather-list" *ngIf="weatherData">
    <li class="current-weather-list__item">
      <span>Temperature</span>
      <span>{{weatherData.temperature}} °C</span>
    </li>
    <li class="current-weather-list__item">
      <span>Humidity</span>
      <span>{{weatherData.humidity}} %</span>
    </li>
    <li class="current-weather-list__item">
      <span>Weather Info</span>
      <span>{{weatherData.weatherInfo}}</span>
    </li>
    <li class="current-weather-list__item">
      <span>Weather Description</span>
      <span>{{weatherData.weatherInfoDesc}}</span>
    </li>
    <li class="current-weather-list__item current-weather-list__item--center">
      <span><img src="{{weatherData.iconPath}}"/></span>
    </li>
  </ul>
  <wa-map [data]="selectedCityData"></wa-map>
</div>