<ngb-tabset class="tab-set" activeId="current">
  <ngb-tab title="Historical" id="historical" [disabled]="true">
      <ng-template ngbTabContent>
        Historical weather data
      </ng-template>
    </ngb-tab>
  <ngb-tab title="Current" id="current">
    <ng-template ngbTabContent>
      <div class="tab-set-content">
        <wa-current-weather
          class="tab-set-content__item"
          [selectedCityData]="selectedCityData"
          [weatherData]="weatherData">
        </wa-current-weather>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Forecast" id="forecast">
    <ng-template ngbTabContent>
      <wa-forecast
        class="tab-set-content__item"
        [data]="selectedCityForecast">
      </wa-forecast>
    </ng-template>
  </ngb-tab>
</ngb-tabset>