<select class="custom-select select-menu" (change)="geSelectedItem($event.target)">
  <option selected>Select city</option>
  <option *ngFor="let item of items" [value]="item.value">{{item.value}}</option>
</select>